*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

a, img {
  transition: linear .4s;
}

img:hover,
a:hover {
  opacity: 0.9;
}

.material-symbols-outlined {
  font-size: inherit;
  color: inherit;
}

/* end of custom-reset */