* {
  /* outline: 1px solid #f73; */
}

:root {
  --color-primary: #AA0601;
  --color-secondary: #FBF2F2;
  /* --color-Tertiary: ; */

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-darkGray: #212529;
  --color-lightGray: #CED4DA;

  /* --color-icon: ; */

  --txt-xl: 48px;
  --txt-lg: 36px;
  --txt-base: 24px;
  --txt-sm: 20px;
  --txt-xs: 18px;
  --txt-2xs: 16px;
  --txt-3xs: 14px;
}

html,
body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: var(--txt-base);
  line-height: 1.5;
}

.container {
  /* 1920 - 312 - 312 */
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width:992px) {
  .container {
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width:767px) {
  .container {
    padding: 0;
  }
}

.size-12 {
  width: 48px;
  height: 48px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-12 {
  padding-top: 48px;
}

.pb-8 {
  padding-bottom: 32px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-8 {
  margin-bottom: 32px;
}


.gap-5 {
  gap: 20px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-12 {
  gap: 48px;
}

.gap-16 {
  gap: 64px;
}


.theme-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.font-xl {
  font-size: var(--txt-xl);
}

.font-lg {
  font-size: var(--txt-lg);
}

.font-sm {
  font-size: var(--txt-sm);
}

.font-xs {
  font-size: var(--txt-xs);
}

.font-2xs {
  font-size: var(--txt-2xs);
}

/* end of base */

.w-full {
  width: 100%;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* end of utility */

.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) center center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 80px;
  height: 48.57px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;
}

.nav {
  height: 80px;
}

.main {
  height: calc(100vh - 80px);
}

@media (max-width:767px) {
  .h1-logo {
    margin-left: 15px;
  }

  .nav {
    height: auto;
  }

  .nav>.container, .nav-list {
    flex-wrap: wrap;
  }

  .nav-list {
    width: 100%;
    gap: 0px;

    border-top: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
  }

  .nav-list-item {
    width: 49.9%;
    border-bottom: 1px solid var(--color-white);
  }

  .nav-list-item>a {
    display: block;

    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-list-item:nth-child(odd) {
    border-right: 1px solid var(--color-white);
  }
}

/* end of nav */

.contact-list {
  border-bottom: 1px solid var(--color-white);
}
