* {
  /* outline: 1px solid #f73; */
}

:root {
  --color-primary: #AA0601;
  --color-secondary: #FBF2F2;
  /* --color-Tertiary: ; */

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-darkGray: #212529;
  --color-lightGray: #CED4DA;
  --border-card: 1px solid #00000020;

  /* --color-icon: ; */

  --txt-xl: 48px;
  --txt-lg: 36px;
  --txt-base: 24px;
  --txt-sm: 20px;
  --txt-xs: 18px;
  --txt-2xs: 16px;
  --txt-3xs: 14px;
}

html,
body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: var(--txt-base);
  line-height: 1.5;
}

/* 
#NOTES:
- 1296 + 24 = 1320px
  - (696 + gutter) = 720px
  - (348 + gutter) = 372px
*/

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (max-width: 375px) {
    max-width: 372px;
  }
}

/* 1920 - 312 - 312 */
/* .container {
  max-width: 1296px;
  margin: 0 auto;

  @media (max-width:992px) {
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (max-width:767px) {
    padding-left: 12px;
    padding-right: 12px;
  }
} */


.size-6 {
  width: 24px;
  height: 24px;
}

.size-12 {
  width: 48px;
  height: 48px;
}

.w-two-fifth {
  width: 40%;
}

.h-56 {
  height: 224px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-12 {
  padding-top: 48px;
}

.pt-20 {
  padding-top: 80px;
}

.pt-44 {
  padding-top: 176px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-8 {
  padding-bottom: 32px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.pl-4 {
  padding-left: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 80px;
}


.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-12 {
  gap: 48px;
}

.gap-16 {
  gap: 64px;
}


.theme-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.font-xl {
  font-size: var(--txt-xl);
}

.font-lg {
  font-size: var(--txt-lg);
}

.font-sm {
  font-size: var(--txt-sm);
}

.font-xs {
  font-size: var(--txt-xs);
}

.font-2xs {
  font-size: var(--txt-2xs);
}

.border-card {
  border: var(--border-card);
}

.border-bottom {
  border-bottom: 1px solid var(--color-white);
}

.border-left-primary {
  border-left: 8px solid var(--color-primary);
}

/* end of base */

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.fixed {
  position: fixed;
}

.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vertical-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.z-10 {
  z-index: 10;
}

/* end of utility */

.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) center center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 80px;
  height: 48.57px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;

  @media (max-width:375px) {
    margin-left: 15px;
  }
}

.nav {
  height: 80px;

  @media (max-width:375px) {
    height: auto;

    >.container {
      padding: 0;
    }
  }
}

/* .main {
  height: calc(100vh - 80px);
} */

.nav-list {
  @media (max-width:768px) {
    gap: 48px;
  }

  @media (max-width:375px) {
    width: 100%;
    gap: 0px;

    border-top: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
  }
}

.sns-list-item img {
  @media (max-width:768px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width:375px) {
    width: 24px;
    height: 24px;
  }
}

.footer-copyright {
  @media (max-width:768px) {
    padding-bottom: 40px;
  }

  @media (max-width:375px) {
    padding-top: 10px;
    padding-bottom: 24px;
  }
}


@media (max-width:375px) {
  .rwd-none {
    display: none;
  }

  .nav>.container, .nav-list {
    flex-wrap: wrap;
  }


  .nav-list-item {
    width: 49.9%;

    border-bottom: 1px solid var(--color-white);

    >a {
      display: block;

      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:nth-child(odd) {
      border-right: 1px solid var(--color-white);
    }
  }

  /* end of .nav-list-item */

  .footer {
    padding-top: 24px;
  }

  .sns-list {
    gap: 8px;
  }


  .contact-list, .nav-list {
    font-size: var(--txt-2xs);
  }

  .contact-list {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }


  .footer-copyright, .footer-copyright ul {
    flex-direction: column;
    gap: 8px;
  }

  /* end of RWD-footer */
}

/* .card-img {
  width: 526px;
  height: 224px;
} */

/* .form-select-store  */

/* #REVIEW */
.form-select-store {
  width: 304px;

  background: url(/images/arrow_drop_down.svg) 100% / 8% no-repeat;

  >select {
    width: 304px;

    padding-top: 6px;
    padding-bottom: 6px;

    border: 1px solid var(--color-lightGray);
    color: #495057;
    background: transparent;

    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.map {
  width: 57%;
  height: 414px;
}